trigger:
- main

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'pipelines-javascript-docker'

steps:
- task: Docker@2
  displayName: Login to Docker Hub
  inputs:
    command: login
    containerRegistry: dockerHubCon1
- task: Docker@2
  displayName: Build and Push
  inputs:
    command: buildAndPush
    repository: $(imageName)
    Dockerfile: app/Dockerfile
    tags: |
      tag1
      tag2
